<script src="http://cdn.bootcss.com/jquery/1.8.1/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="./jquery.dropdown.css">
<script src="./jquery.dropdown.js"></script>

<div class="dropdown">
    <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Chooce P-value
    </button>
    <div class="dropdown-menu" id="myDropdown" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">0.001</a>
        <a class="dropdown-item" href="#">0.005</a>
        <a class="dropdown-item" href="#">0.01</a>
        <a class="dropdown-item" href="#">0.05</a>
        <a class="dropdown-item" href="#">0.1</a>
        <a class="dropdown-item" href="#">0.5</a>
    </div>
</div>